In [0]:
import pandas as pd
import numpy as np
import torch
from torch.utils import data
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from torchvision import transforms, datasets

In [196]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [222]:
df = pd.read_csv('/content/gdrive/My Drive/ECG_data/test.csv')
df.head(5)

   Unnamed: 0         0  ...     65535                          Label
0           0 -0.097857  ... -0.180421  [array(['ARR'], dtype='<U3')]
1           1  0.119361  ... -0.106481  [array(['ARR'], dtype='<U3')]
2           2 -0.024602  ... -0.122356  [array(['ARR'], dtype='<U3')]
3           3 -0.508309  ... -1.048192  [array(['ARR'], dtype='<U3')]
4           4 -0.312039  ...  0.684293  [array(['ARR'], dtype='<U3')]

[5 rows x 65538 columns]

In [223]:
#df.columns()
df = df.drop(columns = ['Unnamed: 0'])
#df4 = df.rename({'Unnamed: 0': 'id'}, axis=1)
df.head(5)

          0         1  ...     65535                          Label
0 -0.097857 -0.156881  ... -0.180421  [array(['ARR'], dtype='<U3')]
1  0.119361  0.187559  ... -0.106481  [array(['ARR'], dtype='<U3')]
2 -0.024602 -0.036279  ... -0.122356  [array(['ARR'], dtype='<U3')]
3 -0.508309 -0.808009  ... -1.048192  [array(['ARR'], dtype='<U3')]
4 -0.312039 -0.495260  ...  0.684293  [array(['ARR'], dtype='<U3')]

[5 rows x 65537 columns]

In [0]:
df_list = []
for i in range(5):
  df1 = pd.DataFrame(data = df.iloc[:,i*1000:(i+1)*1000])
  df1.columns = np.arange(1000)
  df1['Label'] = df['Label']
  df_list.append(df1)
df2 = pd.concat(df_list)
df2.to_csv('test_1000.csv')

In [244]:
df10 = pd.read_csv('test_1000.csv')
df10['Label'][0][9:12]

'ARR'

In [0]:
class ECG_dataset(Dataset):
    def __init__(self, csv_file, transform=None):
        self.ecg_frame = pd.read_csv(csv_file)
        self.ecg_frame = self.ecg_frame.drop(columns = ['Unnamed: 0'])
        self.transform = transform

    def __len__(self):
        return len(self.ecg_frame)
    
    def __getitem__(self, idx):
      if torch.is_tensor(idx):
        idx = idx.tolist()
      signal = np.array(self.ecg_frame.iloc[idx, :-1])
      label = self.ecg_frame.iloc[idx,-1][9:12]
      label = label
      sample = {'signal': signal, 'label': label}
      if self.transform:
          sample = self.transform(sample)
      return sample


# class ToTensor(object):
#     """Convert ndarrays in sample to Tensors."""

#     def __call__(self, sample):
#         signal, label = sample['signal'], sample['label']

#         return {'signal': torch.from_numpy(signal),
#                 'label': torch.from_numpy(label)}

In [0]:
csv = '/content/gdrive/My Drive/ECG_data/test_1000.csv'
ECG_data = ECG_dataset(csv_file = csv,transform= transforms.ToTensor())

In [302]:
dataloader = DataLoader(ECG_data, batch_size=4,
                        shuffle=True, num_workers=4)
for i, batch in enumerate(dataloader):
    print(i, batch)

TypeError: ignored